@namespace .some-prefix;
$namespace {
  font-family: Arial;
}

$namespace.foo {
  padding: 10px;
}

$namespace.bar $namespace {
  outline: 0;
}

body, input {
  color: red;
  background: red;
}

.foo {
  margin: 10px;
}
@namespace end;

.foo {
  margin: 20px;
  padding: 10px;
}

@namespace another-prefix;
body.$namespace {
  font-family: Arial;
}

header {
  width: 200px;
}

@media all {
  main {
    height: 500px;
  }
}
@namespace end;

/* sup */
